<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274329392507-uuoc3iamu5d829fsiqc6ci5mha6uad1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274329392507-uuoc3iamu5d829fsiqc6ci5mha6uad1c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>274329392507-1al4nb7qo5kfho6fednlavrdnbhb8023.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0RCfH4jIAD142pU2Oo75xHZei6Cp8hU</string>
	<key>GCM_SENDER_ID</key>
	<string>274329392507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3838d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3838d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274329392507:ios:e53a7749d20f0da2dd99de</string>
</dict>
</plist>